body {
  background-color: #0fffff;
  background-position: center;
}

.headers {
background-image: url("ParchedWateryKillerwhale-size_restricted.gif");
padding: 2px;
text-align: center;
}

.headers li{
  justify-content: space-between;
  padding: 7px;
}
.Logo {
  background-image: url("rb-logo-metal-silver-monogram-260nw-1019599438.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding: 5px;
  margin: 0px;
  width: 90px;
  height: 70px;
  position: relative;
  top:-132px;
}

.headers ul{
padding: 1px;
display: inline-block;
}

.headers ul li a{
text-decoration:none;
justify-content: space-between;
color:#ffff;
}
.headers ul{
list-style-type: none;
}
.Logo li{
  list-style-type: none;
  padding: 2px;
}
ul li a:hover{
color:#1A6000;
background-color:#010A65;
}
.Logo li a.right{
color:#ffffff;
position: relative;
text-decoration: none;
top:-130px;
}

}
.Footer {
  text-align: center;
  position: absolute;
  top: 86%;
  width: 100%;
  font-size: 20px;
  right: 45px;
}

.Paragraph {
  color: #ffffff;

}
